.alertPopup {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px;
  margin-top: 12px;
  border-radius: 4px;
  background-color: #777;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.3px;
  animation: alertPopup 4s ease-in-out forwards;
}

@keyframes alertPopup {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-100%);
  }
  10% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-100%);
  }
}

.alertPopup p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.3px;
}

.error {
  background-color: hsl(0, 79%, 93%);
  color: hsl(0, 79%, 33%);
}

.success {
  background-color: hsl(146, 64%, 90%);
  color: hsl(146, 64%, 25%);
}

.warning {
  background-color: hsl(45, 86%, 92%);
  color: hsl(45, 86%, 27%);
}

.info {
  background-color: hsl(214, 84%, 93%);
  color: hsl(214, 84%, 30%);
}
